@inherits LayoutComponentBase

<PageTitle>GenHelperBlazor</PageTitle>

<div class="page">
    <main>
        <div class="container-fluid ps-3 bg-dark">
            <div class="row">
                <div class="col text-start text-light m-2">
                    fhir-typescript Code Generation Helper Utility
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
